* {
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
}

/* header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    height: 70px;

}
#titre_principal {
    color: rgb(83, 141, 192);
}


ul li{
    display: inline;
    margin-left: 15px;
    font-size: 18px;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(41, 92, 138);
} */

section {
    display:flex;
    flex-direction: row;
}

article {
    width: 70%;
    
    background-color: rgb(151, 219, 87);
    font-size: 20px;
}

article p {
    padding: 30px;
}

aside {
    width: 30%;
    font-size: 20px;

    background-color: rgb(210, 219, 87);
    margin-left: 30px;
}

aside p {
    padding: 30px;


}

footer {
    margin-top:30px;
    height: 100px;
    background-color: rgb(219, 140, 87);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

footer p{
    padding: 10px 50px;
}

