* {
    margin: 0;
    padding: 0;
}

html,
body {
  height: 100%;
}

/* header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    height: 70px;
}
#titre_principal {
    color: rgb(83, 141, 192);
}
ul li{
    display: inline;
    margin-left: 15px;
    font-size: 18px;
}
ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(41, 92, 138);
} */

#navbarsExample04{
    justify-content:space-around;
}

#navbarsExample04 ul li{
    margin-left: 30px;
}

.navbar-brand {
    margin-left: 30px;
}

section {
    display:flex;
    flex-direction: row;
    min-height: calc(90vh - 100px);
    margin-top: 15px;
}

article {
    width: 70%;
    background-color: rgb(151, 219, 87);
    font-size: 20px;
   
}


aside {
    width: 30%;
    margin-left: 15px;
    font-size: 20px;
    background-color: rgb(210, 219, 87);

}

p {
    padding: 30px;

}

footer {
    height: 100px;
    background-color: rgb(219, 140, 87);
    /* position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; */
    
    margin-top: 15px;
}

footer p{
    padding: 10px 50px;
}